<h1>{{title}}</h1>
<p>Search For Jokes</p>

<div class="container-fluid">

    <form>
        <div class="form-row align-items-center">
            <div class="col-auto">
                <label class="sr-only" for="inlineFormInput">Enter The Joke or The Joke Id</label>
                <input type="text" class="form-control mb-2" id="joke" placeholder="hahaha">
            </div>

            <div class="col-auto">
                <button type="submit" class="btn btn-primary mb-2" onclick="getJokesFromServer();return false">Submit</button>
            </div>
        </div>
    </form>
    <div class="row" id="joke-list">
        <div class="col-md-12">Jokes goes here</div>
    </div>

</div>


