<div class="container-fluid">

    <div class="row" style="margin-top:15px">
        <div class="row col-md-4" style="">
            <div class="api-img" style="">

            </div>
            <div class="row col-md-12 center-txt">


            </div>
        </div>
        <div class="row col-md-8 left-col" id="">


            <div class="col-sm-12">
                <form class="" action="" id="add-comment">
                    <input type="text" name="jokeid" value="{{id}}" id="jokeid" readonly><br>
                    <div class="form-group row col-sm-12">
                        <h5>Comment:</h5>
                        <textarea required name="comment" class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea>
                    </div>

                    <div class="form-group row ">
                        <h5 class="col-sm-12">Rate Joke:</h5>
                        <input required name="rate" class="offset-sm-1" type="number" min="0" max="5">
                        <button style="" class="btn btn-primary offset-sm-4 btn-color" onclick="submitComment();return false">
                            Submit Rating</button>

                    </div>

                </form>

            </div>
            <div id="comments">

            </div>
        </div>
    </div>

</div>
<script src="/javascripts/helper.js"></script>
<script>
    $(document).ready(function(){
        getJokesById();
    });

    function getJokesById() {
        let id = document.getElementById('jokeid').value;
        ajax("POST","getJokeComments",{id:id},populateComment);

    }
    function populateComment(result) {
        document.getElementById('comments').innerHTML = " ";
        result.forEach(element => {
            $('#comments').append(`<div>${element.comment}</div>`);
        });
    }

    function submitComment() {
        var this_data = $('#add-comment').serialize();
        ajax('POST','submitComment', this_data,getJokesById());
    }
</script>